.Cards-hero .card-hero {
  position: relative;
  background-color: #0F172A;
  border: 2px solid #1B88E0;
  border-radius: 28px;
  padding: 50px 0px 10px 0px;
  box-shadow: 0 0 30px rgba(27, 136, 255, 0.3);
  overflow: visible;
  min-height: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Cards-hero .card-hero:hover {
  transform: translateY(-8px);
  box-shadow: 0 30px 80px rgba(15, 23, 42, 0.45);
}

.Cards-hero .elipse-icon {
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #0F172A;
  border: 2px solid #1B88E0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(27, 136, 255, 0.3);
  color: #457CFF;
}

.Cards-hero .elipse-icon i {
  font-size: 35px;
}

.Cards-hero .card-body {
  padding-top: 1rem;
}

.Cards-hero .card-title {
  color: #E8F1F2;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.Cards-hero .card-text {
  color: rgba(232, 241, 242, 0.82);
  font-size: 20px;
}@media (max-width: 900px) {
  .Cards-hero .card-title {
    font-size: 18px;
  }
  .Cards-hero .card-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .Cards-hero .card-title {
    font-size: 16px;
  }
  .Cards-hero .card-text {
    font-size: 14px;
  }
}

.neon-vazado {
  color: transparent !important;
  -webkit-text-stroke: 1.5px #00d2ff;
  filter: drop-shadow(0 0 5px #00d2ff);
  transition: all 0.3s ease;
}

/*

ISSO AQUI É PARA DAR ESPAÇO ENTRE O HEADER E OS CARDS, SE PRECISAR É SÓ DESCOMENTAR

.Cards-hero {
  margin-top: 60px;
  padding: 0 0 40px;
  position: relative;
  z-index: 1;
}

*/